syntax: glob
Dependencies/Ogre
build/
build_iOS/
bin/Android
bin/Debug
bin/iPhone
bin/MinSizeRel
bin/Release
bin/RelWithDebInfo
bin/Data/Hlms/Common
bin/Data/Hlms/Pbs
bin/Data/Hlms/Unlit
bin/Data/Hlms/Terra
bin/Data/Materials/Common
bin/Data/DebugPack.zip
bin/Data/resources2.cfg
bin/Data/Ogre.log
include/OgreCommon
src/OgreCommon
Dependencies/Ogre
CMakeLists.txt.user
.DS_Store
.git